{% extends "layout.html" %}
{% block title %}
account service
{% endblock %}

{% block content %}
<br>
<h2>로그인 page</h2>
<div class="container">
    <form action="{% url 'create' %}" method="post">
        {{ csrf_input }}
        <p>Username: </p>
        <input type="text" name="username" value="">
        <br>
        <p>Password: </p>
        <input type="password" name="password1" value="">
        <br><br>
        <input class="btn btn-dark" type="submit" value="Sign up!">
    </form>
    {% csrf_token %}
</div>
{% endblock %}